<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
</head>
<body>
	<a href="{% url 'home' %}">Home</a>
	<h2>About us</h2>
	
		Fast drei Jahrzehnte sollte nun das Brandenburger Tor ein isoliertes Dasein fristen aber trotzdem im Brennpunkt der Weltöffentlichkeit stehen. Am 22. Dezember 1989 erfolgte unter dem Jubel von mehr als 100.000 Menschen die Öffnung des Tores. Die Quadriga wurde aber durch die Vereinigungsfeiern, vor allem in der Silvesternacht 1989/90, so stark beschädigt, dass sie zwei Jahre später restauriert werden musste.

	
</body>
</html>